@use "sass:math";
@use "../abstracts/" as *;
// Заголовки, общие БЄМ блоки и проче...
//<GLOBAL Animations>=================================
//</GLOBAL Animations>=================================

//<Стили для текста>=================================
%text-g {
	font-family: "Gilroy";
}
%text-g_16_18_600 {
	@extend %text-g;
	font-weight: 600;
	line-height: math.div(18, 16);
	color: $mainTextCol;
	@include AV("font-size", 16, 14);
}
%text-g_14_20_400 {
	@extend %text-g;
	font-weight: 400;
	line-height: math.div(20, 14);
	color: $mainTextCol;
	font-size: rems(14);
}

%text-g_16_20_700 {
	@extend %text-g;
	font-weight: 700;
	line-height: math.div(20, 16);
	color: $white;
	@include AV("font-size", 16, 15);
}

%text-g_14_20_600 {
	@extend %text-g_14_20_400;
	font-weight: 600;
	color: $white;
}
%text-i_14_500 {
	font-weight: 500;
	color: $white;
	line-height: 100%;
	font-size: rems(14);
}
%text-i_14_18_400 {
	font-weight: 400;
	color: $mainTextCol;
	line-height: 1.28;
	@include AV("font-size", 14, 12);
}
%text-i_22_24_500 {
	font-weight: 500;
	color: $mainTextCol;
	line-height: math.div(24, 22);
	font-size: rems(22);
}
%text-i_14_22_400 {
	font-weight: 400;
	color: $mainTextCol;
	line-height: math.div(22, 14);
	@include AV("font-size", 14, 12);
}
%text-i_16_22_400 {
	font-weight: 400;
	color: $mainTextCol;
	line-height: math.div(22, 16);
	@include AV("font-size", 16, 14);
}

%text-i_14_300 {
	font-weight: 300;
	color: #323232;
	line-height: 100%;
	font-size: rems(14);
}

%text-l_14_500 {
	font-family: Lato;
	font-weight: 500;
	color: #82817e;
	line-height: 100%;
	font-size: rems(14);
}
%text-l_18_20_600 {
	font-family: Lato;
	font-weight: 600;
	color: $mainTextCol;
	line-height: math.div(20, 18);
	@include AV("font-size", 18, 14);
}
%text-l_18_500 {
	font-family: Lato;
	font-weight: 500;
	color: $mainTextCol;
	line-height: 1;
	@include AV("font-size", 18, 14);
}
%text-l_20_28_400 {
	font-weight: 400;
	font-family: Lato;
	line-height: math.div(20, 28);
	color: $darkCol;
	letter-spacing: rems(0.4);
	@include AV("font-size", 20, 14);
}

%text-l_40_48_500 {
	font-family: Lato;
	line-height: math.div(48, 40);
	text-transform: uppercase;
	color: $white;
	@include AV("font-size", 40, 26);
}
%text-l_48_54_600 {
	font-family: Lato;
	line-height: math.div(54, 48);
	text-transform: uppercase;
	// color: $darkCol;
	@include AV("font-size", 48, 24);
}
//<Стили для текста>=================================

//<title>=================================
.title {
	// text-align: center;

	// .title-line
	&-line {
		@include AV("margin-bottom", 40, 10);
		&::before {
			content: "";
			width: rems(29);
			height: rems(3);
			background-color: $green;
			margin-bottom: ems(17);
		}
	}
	// & > :not(:last-child) {
	// 	margin-bottom: ems(20);
	// }

	// .title__title
	&__title {
		// position: relative;
		// z-index: 2;
		// padding: 0 rems(15);
		// @extend %text-l_48_54_600;
		font-weight: 600;
		line-height: 1.18;
		font-family: Lato;
		text-transform: uppercase;
		@include AV("font-size", 48, 32);
		@include AV("margin-bottom", 40, 10);
		@media (min-width: $mobileBig) {
			// text-align: center;
		}
	}
	// .title__text
	&__text {
		// padding: 0 rems(10);
		// color: #4c4b47;
		font-weight: 400;
		line-height: math.div(18, 16);
		@include AV("font-size", 16, 14);
		span {
			font-weight: 700;
		}
		a {
			// color: $blue;
		}
	}
	// .title__tel
	&__tel,
	&__mail {
	}
}
//<title>=================================

//<info>=================================
.info {
	@media (min-width: $tablet) {
		// flex: 0 1 100%;
		// flex-wrap: nowrap;
	}
	// .info__item
	&__item {
		display: flex;
		align-items: center;
		flex: 0 0 33.333%;
		@extend %text-i_14_500;
		// min-width: 200px;
		flex: 0 0 50%;
		@include AV("column-gap", 12, 5);
		@media (max-width: 1250px) {
		}
		@media (max-width: $tablet) {
			flex: 0 1 100%;
		}
	}
	// .info__icon
	&__icon {
		flex: 0 0 rems(40);
		height: rems(40);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: "";
			position: absolute;
			top: 0%;
			right: 0%;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $green;
		}
		img {
			z-index: 2;
		}
	}
	// .info__body
	&__body {
		display: flex;
		flex-direction: column;
		// .info__body-main
		&-main {
			color: $mainTextCol;
		}
	}
	// .info__label
	&__label {
		@media (max-width: $mobile) {
			opacity: 0.5;
		}
	}
	// .info__sublabel
	&__sublabel {
	}
	// .info__tel
	&__tel {
	}
	// .info__mail
	&__mail {
	}
	&__mail,
	&__tel {
		white-space: nowrap;
	}
	&__tel,
	&__mail,
	&__label,
	&__sublabel {
		@include AV("padding-top", 5, 2.5);
		@include AV("padding-bottom", 5, 2.5);
	}
}

//<Стили для навигации swiper>=================================
.slider-navigation {
	display: inline-block;
	& > :not(:last-child) {
		margin-right: rems(15);
	}
	@media (max-width: $pc) {
		bottom: 5%;
		display: none;
	}
	@media (min-width: $tablet) {
	}
	// .slider-navbutton__button
	&__button {
		width: rems(40);
		height: rems(40);
		color: #a8a8a8;
		background-color: $white;
		border-radius: rems(8);
		box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
		&::before {
			content: "";
			background: url("@img/icons/arrow-right.svg") center no-repeat;
			top: 0;
			left: 0;
			width: rems(16);
			height: rems(16);
		}
		// .slider-navigation__button-next
		&-next {
		}
		// .slider-navigtion__button-prev
		&-prev {
			&:before {
				transform: rotate(180deg);
			}
		}
	}
}
//<Стили для кнопок>=================================

//<Блок Bricks>>=================================
.bricks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include AV("padding-top", 30, 20);
	@include AV("padding-bottom", 30, 20);
	& > :not(:last-child) {
		@include AV("margin-bottom", 40, 30);
	}
	// .bricks__title
	&__title {
		position: relative;
		z-index: 2;
		text-align: center;
		text-shadow: 0 0 5px #fff;
	}
	// .bricks__body
	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rems(10);
		& > :nth-child(even) {
			margin-left: 20%;
		}
		& > :nth-child(odd) {
			margin-left: 10%;
		}
		:first-child {
			margin-left: 0;
		}
	}
	// .bricks__item
	&__item {
		min-width: 71%;
		display: flex;
		align-items: center;
		gap: rems(10);
		background-color: $white;
		padding: rems(10);
		border-radius: rems(10);
		box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
	}
	// .bricks__icon
	&__icon {
	}
	// .bricks__text
	&__text {
		span {
			font-weight: 600;
		}
	}
}
//<Блок Brick>>=================================
