//<АДАПТИВНАЯ СЕТКА>=================================
$minWidth: 393; // Минимальная ширина страницы
$maxWidth: 1680; // Ширина полотна (макета)
$maxWidthContainer: 0; // Ширина ограничивающего контейнера (0 = нет ограничения)

// Общий отступ у контейнера
$containerPadding: 502; // (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingMin: 20; // минимальный отступ

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
//<>=================================

//<ЦВЕТА>=================================
$white: #ffffff;
$blue: #4bbeee;
$green: #92b621;
$mainCol: #5e6282;
$mainTextCol: #4c4b47;
$lightGrayCol: #9a9ea6;
$lightBlueCol: #23a6f0;
$darkCol: #171717;
$hoverCol: #4737ff;
$mainBgCol: #fafafa; //приглушить цвет для комфорта глаз
//<ЦВЕТА>=================================
