// @use "../variables" as var;
// @use "../modules/mixins" as mix;
// @use "../modules/brake-points" as point;
// @use "../globals" as *;

//<Стили для кнопок>=================================
.button {
	justify-content: center;
	align-items: center;
	position: relative;
	display: flex;
	border-radius: rem(10);
	background-color: $blue;
	color: $white;
	font-family: Gilroy;
	font-weight: 600;
	white-space: nowrap;
	box-shadow: 0 4px 22.5px 0 rgba(169, 165, 165, 0.1);
	@include adaptiveValue("padding-top", 15, 10);
	@include adaptiveValue("padding-bottom", 15, 10);
	@include adaptiveValue("padding-left", 26, 20);
	@include adaptiveValue("padding-right", 26, 20);
	@include adaptiveValue("font-size", 16, 14);
	&-ico {
		@include adaptiveValue("padding", 15, 10);
		&::before {
			content: "";
			// position: absolute;
			width: rem(16);
			height: rem(16);
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			// z-index: 3;
		}
	}
	&-telephone {
		::before {
			background: url("@img/icons/tel.svg") 0 / cover no-repeat;
		}
	}
	&-gift {
		::before {
			background: url("@img/icons/gift.svg") 0 / cover no-repeat;
		}
	}
	@media (max-width: $tablet) {
		&-telephone {
			@extend %btn-tablet-media;
			padding: 0;
			&::before {
				display: block;
			}
		}
		&-checkout {
			@extend %btn-tablet-media;
		}
		%btn-tablet-media {
			display: flex;
			justify-content: center;
			align-items: center;
			width: rem(33);
			height: rem(33);
			background-color: $blue;
			border-radius: rem(8);
		}
	}
}
%btn-tablet {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(33);
	height: rem(33);
	background-color: $blue;
	border-radius: rem(8);
}
.btn-checkout {
	@extend %btn-tablet;
}
%btn-mini {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(40);
	height: rem(40);
	background-color: $white;
	border-radius: rem(8);
}
.btn-checkout-big {
	@extend %btn-mini;
}

//<Стили для кнопок>=================================
