@use "../variables" as var;
@use "../modules/brake-points" as point;
@use "../modules/mixins" as mix;
@use "../common";
@use "../base/btn"; //<MENU>=======================================
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: point.$mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: mix.rem(50) mix.rem(15) mix.rem(15) mix.rem(30);
			transition: left 0.3s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: mix.rem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		@include mix.adaptiveValue("column-gap", 90, 10);
		@media (max-width: point.$mobile) {
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@extend %text-g_16_20_700;
		@media (max-width: point.$mobile) {
		}
	}
}
//</MENU>=======================================

//<BURGER>=======================================
.icon-menu {
	span,
	&::before,
	&::after {
		content: "";
		width: 100%;
		flex: 0 0 mix.rem(3);
		border-radius: mix.rem(2);
		background-color: var.$mainTextCol;
		transform: translate(0%, 0%) rotate(0deg);
		transition: all 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover {
			span,
			&::before,
			&::after {
				background-color: var.$green;
			}
		}
	}
	@media (max-width: point.$tablet) {
		span,
		&::before,
		&::after {
			content: "";
		}
		&::before {
		}
		&::after {
		}
		span {
		}
		@media (any-hover: none) {
			cursor: default;
		}
		//<MENU-OPEN>=================================
		.menu-open & {
			justify-content: center;
			align-items: center;
			span {
				opacity: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				transform: translate(0%, 75%) rotate(-45deg);
			}
			&::after {
				transform: translate(0%, -75%) rotate(45deg);
			}
		}
		//</MENU-OPEN>=================================
	}
}
//</BURGER>=================================
