@use "../modules/mixins.scss" as mix;

.swiper {
	// margin-left: auto;
	// margin-right: auto;
	// position: relative;
	z-index: 1;
	overflow: hidden;
	display: block;
	// width: 100%;
	// height: 100%;
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	position: relative;
	// width: 100%;
	// height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
	box-sizing: content-box;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
// .swiper-button-lock {
// 	display: none !important;
// }
.swiper-slide {
	// @include adaptiveValue("margin-left", 50, 20);
	// @include adaptiveValue("margin-right", 50, 20);
	flex-shrink: 0;
	position: relative;
	transition-property: transform;
}
