@use "../modules/mixins" as mix;

.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
	}
	// .tabs__title
	&__title {
		border: 1px solid #eee;
		padding: mix.rem(10) mix.rem(15);
		border-radius: mix.rem(5);
		&._tab-active {
			border: 1px solid #000;
		}
	}
	// .tabs__content
	&__content {
		border: 1px solid #eee;
		padding: mix.rem(10) mix.rem(15);
	}
	// .tabs__body
	&__body {
	}
}
