@use "../abstracts" as *;

.advantages {
	padding: 5vh 0;
	position: relative;
	align-content: center;
	min-height: 100vh;
	background-color: #f8f8f6;
	// .advantages__title
	&__title {
		height: 10vh;
		text-align: center;
	}
	// .advantages__text
	&__text {
	}
	// .advantages__control
	&__control {
		z-index: 2;
		position: absolute;
		width: 100%;
		height: auto;
		left: 0;
		top: initial;
		transform: translateY(50%);
	}
	// .advantages__slider
	&__slider {
		// height: 80vh;
		// overflow: hidden;
		@include AV("padding-right", 50, 20);
		@include AV("padding-left", 50, 20);
	}
	// .advantages__wrapper
	&__wrapper {
		// @include AV("padding-bottom", 200, 50);

		// overflow: hidden;
	}
	// .advantages__item
	&__item {
		border: 1px solid #cfcfcf;
		overflow: hidden;
		box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
		@include AV("border-radius", 26, 10);
		// @include AV("margin-top", 60, 30);
		// @include AV("margin-bottom", 50, 50);
	}
}
.control {
	// .control__pagination
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;
		@include AV("column-gap", 30, 4);
		// @include AV("margin-top", 110, 55);
		// @include AV("margin-bottom", -220, -110);
	}
	&__pagination .swiper-pagination-bullet {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		border-color: transparent;
		border-radius: rems(6);
		box-shadow: 0 3.213px 24.416px 0 rgba(169, 165, 165, 0.25);
		transition:
			border-color 0.8s ease 0s,
			transform 0.8s ease 0s;
		@include AV("width", 102, 50);
		@include AV("height", 102, 50);
		span {
			transition: opacity 0.8s ease 0s;
			position: relative;
			// flex: 0 1 rems(60);
			height: 100%;
			opacity: 0.5;
			@include AV("width", 60, 40);
		}
		img {
			// z-index: 3;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
	&__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
		border: rems(4) solid;
		border-color: $green;
		transform: translateY(-10px);
		transition:
			border-color 0.8s ease 0s,
			transform 0.8s ease 0s;
		span {
			opacity: 1;
		}
	}
	// .contol__icons
	&__icons {
		display: none;
	}
	@media (max-width: $mobile) {
		.swiper-pagination-bullet.swiper-pagination-bullet-active {
			border-width: rems(2);
		}
	}
}

.item {
	align-items: center;
	min-height: 100%;
	width: 100%;
	position: relative;
	background-color: $white;
	@media (max-width: $mobileBig) {
		@include AV("padding-top", 120, 80);
		height: 100%;
	}
	// .item_right
	&_right {
		@media (min-width: $mobileBig) {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	// .item_warranty
	&_warranty {
		background-color: $white;
		flex-direction: column;
		justify-content: center;
		& .item__contant {
			flex-basis: 0;
			max-width: rems(500);
			margin: 0 auto;
			@media (min-width: $mobileBig) {
			}
		}
		@include AV("padding-top", 200, 100);
	}

	@media (min-width: $mobileBig) {
		display: flex;
	}
	// .item__image
	&__image {
		position: relative;
		flex: 0 1 50%;
		padding-bottom: 24%;
		@media (max-width: $mobileSmall) {
			padding-bottom: 100%;
		}
		@media (max-width: $mobileBig) {
			// @include AV("margin-top", 120, 80);
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@media (max-width: $mobileBig) {
			}
		}
		&-left {
			img {
			}
		}
	}
	// .item__mark
	&__mark {
		flex-wrap: wrap;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .item__image-back
	&__image-back {
		position: absolute;
		top: 25%;
		right: -85%;
		width: 100%;
		height: 100%;
		transform: scale(1.5);
		opacity: 0.1;
	}
	&_right &__image-back {
		position: absolute;
		top: -13%;
		right: 50%;
		width: 100%;
		height: 100%;
		transform: rotate(180deg);
		opacity: 0.1;
	}

	// .item__contant
	&__contant {
		flex: 0 1 60%;
		@include AV("padding-left", 20, 16);
		@include AV("padding-right", 20, 16);
		& :not(:last-child) {
			@include AV("margin-bottom", 24, 16);
		}
		@media (max-width: $mobileBig) {
			@include AV("margin-bottom", 60, 60);
		}
	}
	// .item__title
	&__title {
		text-align: left;
		h2 {
			color: #212121;
			@include AV("font-size", 48, 24);
		}
		&::before {
			content: "";
			display: none;
		}
	}
}
.item_warranty .item__image-back {
	transform: rotate(0deg);
	img {
	}
}
.mark {
	width: 100%;
	// .mark__logo
	&__logo {
		position: relative;
		padding-bottom: 15%;
		flex: 0 0 25%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: contain;
		}
	}
}

.swiper-slide-active {
	// overflow: hidden;
}
.swiper-pagination {
}
.swiper {
}
.swiper-wrapper {
	// display: flex;
}
