@use "../abstracts" as *;
@use "../common" as *;

.catalog {
	padding: rems(50) rems(0);
	// .catalog__container
	&__container {
	}
	// .catalog__titel
	&__title {
		margin: 0 auto;
		max-width: rems(650);
	}
	// .catalog__text
	&__text {
	}
	// .catalog__wrapper
	&__wrapper {
		// margin-left: -20px;
		// margin-right: -20px;
		margin-top: rems(50);
		@media (min-width: $tablet) {
			display: flex;
			gap: 20px;
		}
	}
	// .catalog__contant
	&__contant {
		flex: 1 1 auto;
		// overflow: hidden;
		border: rems(1) solid #cfcfcf;
		box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
		border-radius: rems(10);
		img {
			max-width: 100%;
		}
	}
	// .catalog__filter
	&__filter {
		flex: 0 0 17.5%;
	}
}
.title {
	// .title__title
	&__title {
	}
	// .title__text
	&__text {
	}
}
.filter-catalog {
	@include AV("font-size", 16, 10);
	& > :not(:last-child) {
		margin-bottom: rems(10);
	}
	// .filter-catalog__wrapper
	&__wrapper {
		overflow: hidden;
		@media (max-width: $tablet) {
			display: flex;
			@include AV("gap", 50, 5, 0, 992, 320);
		}
		@media (min-width: $tablet) {
			border: rems(1) solid #cfcfcf;
			box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
			border-radius: rems(10);
			background-color: $white;
		}
	}
	// .filter-catalog__title
	&__title {
		padding: rems(10);
		background-color: $green;
		color: $white;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .filter-catalog__color
	&__color {
		position: relative;
		padding: 0 0 0 rems(30);
		&::before {
			content: "";
			background: url("@img/icons/catalog.svg") center / cover no-repeat;
			position: absolute;
			width: rems(20);
			height: rems(20);
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
	// .filter-catalog__body
	&__body {
		@include AV("margin-top", 10, 30);
		@include AV("margin-bottom", 10, 30);
		& > :not(:last-child) {
			margin-bottom: rems(15);
		}
		@media (max-width: $tablet) {
			flex: 1 1 33.333%;
		}
		@media (min-width: $tablet) {
			padding: rems(0) rems(10);
		}
	}
	// .filter-catalog__button
	&__button {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $blue;
		color: $white;
		font-size: rems(16);
		font-weight: 600;
		border-radius: rems(8);
		padding-left: rems(10);
		padding-right: rems(10);
		@include AV("padding-top", 16, 18);
		@include AV("padding-bottom", 16, 18);
	}
}
.filter-item {
	// .filter-item__border
	&__border {
		border-radius: rems(6);
		border: rems(1) solid #cfcfcf;
		// overflow: hidden;
	}
	// .filter-item__box
	&__box {
		margin: rems(6);
		// border-radius: rems(6);
		// border: rems(6) solid $white;
		// background: $white;
		// padding: rems(6);
	}
	// .filter-item__contant
	&__contant {
		// overflow: hidden;
		width: 100%;
		display: block;
		border-radius: rems(6);
		padding-bottom: 100%;
		// .filter-item__contant-white
		&-white {
			background-color: $white;
		}
		// .filter-item__contant-graphite
		&-graphite {
			background-color: $mainTextCol;
		}
		// .filter-item__contant-brown
		&-brown {
			background-color: darkred;
		}
	}
	// .filter-item__box-white
	&__box-white {
	}
	// .filter-item__sublabel
	&__sublabel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rems(0) rems(5);
	}
	// .filter-item__color
	&__color {
	}
	// .filter-item__color-number
	&__color-number {
	}
}
.filter-item_active .filter-item__border {
	background-color: $green;
}
.filter-item_active .filter-item__box {
	// border: rems(6) solid $green;
}

.contant-catalog {
	padding: 0 rems(10);
	@media (min-width: $tablet) {
		position: relative;
	}
	// .contant-catalog__info

	&__info {
		@extend %text-i_14_18_400;
		padding-top: rems(20);
		padding-bottom: rems(20);
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: rems(6);
		@include AV("padding-left", 20, 0);
		@include AV("padding-right", 20, 0);
		span {
			padding: 0 rems(10);
		}
		& > * {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(146, 182, 33, 0.06);
			border-radius: rems(4);
			box-shadow: 0 rems(4) rems(30.4) 0 rgba(169, 165, 165, 0.25);
			backdrop-filter: blur(1.75px);
		}
	}
	// .contant-catalog__image
	&__image {
		position: relative;
		width: rems(30);
		height: rems(30);
		img {
			position: absolute;
			width: rems(20);
			height: rems(20);
			top: auto;
			left: auto;
			z-index: 2;
			object-fit: cover;
		}
	}
	// .contant-catalog__navigation
	&__navigation {
		margin: rems(10) rems(0);
	}
	// .contant-catalog__slider
	&__slider {
		@media (max-width: $tablet) {
			position: relative;
			padding-bottom: 80%;
		}
		@media (min-width: $tablet) {
			position: absolute;
			width: 40%;
			height: auto;
			padding-bottom: 30%;
			top: 35%;
			left: 18%;
		}
	}
}
.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: rems(5);
	@media (min-width: $tablet) {
		display: none;
	}
	// .catalog-list__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
		border: rems(1) solid $mainTextCol;
		border-radius: rems(20);
		box-shadow: 0 0 rems(10) transparent;
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s,
			box-shadow 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $green;
				color: $white;
				box-shadow: 0 0 rems(10) $green;
			}
		}
		&.active {
			background-color: $green;
			color: $white;
			box-shadow: 0 0 rems(10) $green;
		}
	}
	// .catalog-list__button
	&__button {
		padding: rems(5) rems(10);
		width: 100%;
	}
}
