@use "../abstracts" as *;
@use "../common" as *;

.help {
	// .help__container
	&__container {
		position: relative;
	}
	&__wrapper {
		position: relative;
		display: flex;
		@media (max-width: $mobileBig) {
			display: block;
		}
	}
	// .help__image
	&__image {
		flex: 0 0 38.7%;
		@media (max-width: $mobileBig) {
			position: relative;
			padding-top: 130%;
			img {
			}
			width: 175%;
		}
		&-1,
		&-2 {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 80.6%;
			height: auto;
			z-index: 1;
			transform: translate(-58%, -24.6%);
			object-fit: cover;
			@media (min-width: 1680) {
			}
			@media (max-width: $mobileBig) {
				transform: translate(-42%, -40%);
				height: 100%;
				width: 100%;
			}
		}
		&-1 {
		}
		&-2 {
			transform: translate(-39%, -24.6%) rotate(7deg);
			@media (max-width: $mobileBig) {
				transform: translate(-23%, -40%) rotate(7deg);
			}
		}
	}
	// .help__body
	&__body {
		flex: 0 1 62%;
		position: relative;
		z-index: 1;
		@media (max-width: $mobileBig) {
			@include AV("margin-top", -400, -200, 320, 766);
			// margin-top: -240px;
		}
	}
	// .help__form
	&__form {
	}
	// .help__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.help-form {
	color: $white;
	padding: rems(63) 0;
	& > :not(:last-child) {
		@include AV("margin-bottom", 43, 24);
	}
	// .help-form__title
	&__title {
		@extend %text-l_40_48_500;
		text-align: left;
		letter-spacing: 0.8px;
		&::before {
			display: none;
		}
	}
	// .help-form__body
	&__body {
		@media (max-width: $pc) {
			& > :not(:last-child) {
				margin-bottom: rems(10);
			}
		}
		@media (min-width: $pc) {
			@include AV("gap", 10, 5);
			display: flex;
		}
	}
	// .help-form__name
	&__name {
	}
	// .help-form__tel
	&__tel {
	}
	&__name,
	&__tel {
		border: rems(1) solid $white;
		border-radius: rems(8);
		// color: rgba(255, 255, 255);
		[placeholder] {
			color: $white;
		}
	}
	&__name,
	&__tel,
	&__button {
		border: rems(1) solid $white;
		border-radius: rems(8);
		padding: rems(18) rems(20);
		// min-width: rems(235);
		flex: 0 1 33.333%;
		@extend %text-l_18_500;
		color: $white;
	}
	// .help-form__button
	&__button {
		width: 100%;
		background-color: $green;
		border-color: $green;
		font-weight: 800;
		@include AV("font-size", 18, 16);
		@media (max-width: $pc) {
			margin-top: rems(8);
		}
	}
}
.title {
}
.footer-right {
	// .footer-right__info
	&__info {
	}
	// .footer-right__item
	&__item {
	}
}
.help-bottom {
	// .help-bottom__container
	&__container {
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	// .help-bottom__info
	&__info {
		flex: 0 1 50%;
	}
	&__image {
		@media (min-width: $tablet) {
			flex: 0 1 38.7%;
		}
	}
	// .help-bottom__item
	&__info {
	}
	// .help-bottom__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		font-family: Lato;
		margin: rems(40) 0;
		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
			row-gap: rems(10);
		}
		& .info__mail,
		& .info__tel {
			color: $darkCol;
			@extend %text-l_20_28_400;
		}
		& .info__tel {
			text-transform: uppercase;
		}
		& .info__label {
			@extend %text-l_18_500;
		}
	}
}
