@use "../abstracts" as *;

.questions {
	overflow: auto;
	flex: 1 1 auto;
	// .questions__container
	&__container {
	}
	// .questions__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		min-height: 100vh;
	}
	// .questions__border
	&__border {
		height: 100%;
		// flex: 1 1 auto;
		border-radius: rems(20);
		align-items: center;
		background-color: $white;
		box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
		@include adaptiveValue("gap", 30, 10);
		@media (min-width: $tablet) {
			display: flex;
		}
		@media (max-width: $tablet) {
			& > :not(:last-child) {
				margin-bottom: rems(30);
			}
		}
	}
	// .questions__content
	&__content {
		margin-top: rems(30);
		flex: 0 0 45%;
	}
	// .questions__image
	&__image {
		&-ibg {
			border-radius: rems(10);
			overflow: hidden;
			flex: 0 0 55%;
			padding-bottom: 71%;
			@media (min-width: $tablet) {
				padding-bottom: 46%;
				img {
				}
			}
			@media (max-width: $tablet) {
				// height: 50vh;
			}
			img {
			}
		}
	}
}
.question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: rems(10);

	// .question__title
	&__title {
		margin-bottom: rems(20);
		// padding: rems()
	}
	// .question__body
	&__body {
		// padding: rems(10);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rems(10);
		& > :nth-child(even) {
			margin-left: 20%;
		}
		& > :nth-child(odd) {
			margin-left: 10%;
		}
		:first-child {
			margin-left: 0;
		}
	}
	// .question__item
	&__item {
		display: flex;
		align-items: center;
		gap: rems(10);
		background-color: $white;
		padding: rems(10);
		border-radius: rems(10);
		box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
	}
	// .question__icon
	&__icon {
	}
	// .question__text
	&__text {
	}
}
