@use "../abstracts" as *;

.withuse {
	flex: 1 1 auto;
	align-content: center;
	// .withuse__wrapper
	&__wrapper {
	}
	// .withuse__container
	&__container {
		@media (min-width: $tablet) {
			display: flex;
			@include AV("column-gap", 50, 10);
		}
	}
	// .withuse__contant
	&__contant {
		flex: 1 1 auto;
		@media (max-width: $tablet) {
			margin-bottom: rems(20);
		}
		@media (min-width: $tablet) {
			min-height: 500px;
			align-content: center;
		}
	}
	// .withuse__title
	&__title {
	}
	// .withuse__image
	&__image-ibg {
		flex: 0 0 50%;
		border-radius: rems(14);
		overflow: hidden;
		img {
			transform: rotateY(180deg);
		}
		@media (max-width: $tablet) {
			padding-bottom: 100%;
		}
		@media (min-width: $tablet) {
			flex: 0 0 40%;
		}
	}
}
.title-line {
}
.title {
	// .title__title
	&__title {
	}
	// .title__text
	&__text {
	}
}
