@use "sass:math"; //модуль Math
@use "../../../../../scss/variables" as var;
@use "../../../../../scss/modules/mixins" as mix;
@use "../../../../../scss/modules/brake-points" as point;
@use "../../../../../scss/common";
.blog {
	flex: 1 1 auto;
	align-content: center;
	// .blog__wrapper
	&__wrapper {
	}
	// .blog__container
	&__container {
		// overflow: visible;
	}
	// .blog__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mix.adaptiveValue("margin-top", 60, 30);
		& > * {
			margin: 0;
		}
	}
	// .blog__title
	&__title {
	}
	// .blog__box
	&__box {
		display: flex;
		gap: mix.rem(35);
	}
	// .blog__navigation
	&__navigation {
	}
	// .blog__button
	&__button {
	}
	// .blog__sliders
	&__sliders {
		@include mix.adaptiveValue("margin-bottom", 60, 30);
		@media (min-width: point.$tablet) {
			display: flex;
			align-items: center;
			margin: 0 mix.rem(-15);
			// height: 80vh;
			position: relative;
		}
	}
	// .blog__slider-big
	&__slider-big {
		// flex: 0 0 50%;
		flex: 1 1 auto;
		@media (max-width: point.$tablet) {
			&.swiper {
				overflow: visible;
			}
		}
		@media (min-width: point.$tablet) {
			padding: 0 mix.rem(15);
		}
	}
	// .blog__slider-mini
	&__slider-mini {
		flex: 0 0 50%;
		border-left: mix.rem(1) solid #666;
	}
}
.title-line {
}
.title {
	// .title__title
	&__title {
	}
}
.slider-navigation {
	// .slider-navigation__button
	&__button {
	}
	// .slider-navigation__button-prev
	&__button-prev {
	}
	// .slider-navigation__button-next
	&__button-next {
	}
}
.swiper-button-prev {
}
.swiper-button-next {
}
.button {
}
.big-slider-blog {
	position: relative;
	// .big-slider-blog__wrapper
	&__wrapper {
		// display: flex;
	}
	// .big-slider-blog__slide
	&__slide {
	}
	// .big-slider-blog__body
	&__body {
	}
	// .big-slider-blog__image
	&__image-ibg {
		padding-bottom: 90%;
		border-radius: mix.rem(14);
		overflow: hidden;
		@media (min-width: point.$tablet) {
			padding-bottom: 67%;
		}
	}
	// .big-slider-blog__content
	&__content {
		margin-top: mix.rem(32);
	}
}
.big-slider-blog .swiper-slide-next {
}
.mini-slider-blog.swiper {
	@media (max-width: point.$tablet) {
		display: none;
	}
}
.mini-slider-blog {
	@media (min-width: point.$tablet) {
		position: absolute;
		width: 50.1%;
		height: 100%;
		top: 0;
		right: 0;
		background-color: var.$mainBgCol;
		margin: mix.rem(-2);
	}

	// .mini-slider-blog__wrapper
	&__wrapper {
	}
	// .mini-slider-blog__slide
	&__slide {
		// align-content: center;
		padding-left: mix.rem(15);
		height: 100%;
	}
	// .mini-slider-blog__body
	&__body {
		display: flex;
		align-items: center;
		@include mix.adaptiveValue("column-gap", 30, 0);
	}
	// .mini-slider-blog__image
	&__image-ibg {
		flex: 0 0 40.5%;
		padding-bottom: 35.5%;
		overflow: hidden;
		border-radius: mix.rem(14);
	}
	// .mini-slider-blog__content
	&__content {
		flex: 1 1 50%;
	}
}
.content-slider-blog {
	// min-height: mix.rem(250);
	align-content: center;
	@include mix.adaptiveValue("font-size", 16, 14);

	// .content-slider-blog__title
	// & > :not(:last-child) {
	// 	margin-bottom: mix.em(8);
	// }
	&__title {
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
		color: var.$darkCol;
		margin-bottom: mix.em(8, 20);
		@include mix.adaptiveValue("font-size", 20, 24);
	}
	// .content-slider-blog__subtitle
	&__subtitle {
		font-weight: 500;
		line-height: 112.5%;
	}
	// .content-slider-blog__more
	&__more {
		color: var.$blue;
		font-weight: 700;
		text-decoration: underline;
		margin-top: mix.em(24, 16);
	}
}
.swiper {
}
.swiper-wrapper {
}
.mini-slider-blog .swiper-slide-active {
	border-bottom: mix.rem(1) solid #666;
}
.swiper-slide-active .mini-slider-blog__body {
	// padding-top: 0;
}
