@use "sass:math"; //модуль Math
@use "../../../../../scss/globals" as *;
// @use "../../../../../scss/variables" as var;
// @use "../../../../../scss/modules/mixins" as mix;
// @use "../../../../../scss/modules/brake-points" as point;
// @use "../../../../../scss/common";
.about {
	// display: none;
	// .about__container
	&__container {
		@include adaptiveValue("margin-top", 165, 100);
		@include adaptiveValue("margin-bottom", 165, 100);
	}

	// .about__contant
	&__contant {
		flex: 0 0 50%;
	}
	// .about__media
	&__media {
		flex: 0 0 50%;
	}
}
@media (min-width: $tablet) {
	.about__container {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}
}
@media (max-width: $tablet) {
	.about__contant {
		@include adaptiveValue("margin-bottom", 40, 20);
	}
}

.media-about {
	// .media-about__image
	&__image-ibg {
		position: relative;
		padding-bottom: 79%;
	}
}

@media (min-width: $tablet) {
	.media-about__image-ibg {
		@include adaptiveValue("margin-left", -150, -50);
	}
}
.content-about {
	// .content-about__logo
	&__logo {
		width: rem(234);
		@include adaptiveValue("margin-top", 16, 10);
		@include adaptiveValue("margin-bottom", 35, 20);
		img {
			max-width: 100%;
		}
	}
	// .content-about__title
	&__title {
		position: relative;
		z-index: 2;
		@extend %text-l_48_54_600;
		@include adaptiveValue("margin-right", -150, 15);
		@include adaptiveValue("margin-bottom", 30, 15);
	}
	// .content-about__text
	&__text {
		position: relative;
		z-index: 2;
		@extend %text-i_16_22_400;
		padding-right: rem(60);

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		span,
		a {
			font-weight: 600;
		}
		a {
			color: $blue;
			text-transform: uppercase;
		}
	}
}
