@use "sass:math"; //модуль Math
@use "../../../../../scss/variables" as var;
@use "../../../../../scss/modules/mixins" as mix;
@use "../../../../../scss/modules/brake-points" as point;
@use "../../../../../scss/common";
.portfolio {
	// flex: 1 1 auto;
	// .portfolio__container
	&__container {
		display: flex;
		align-items: center;
		min-height: 100vh;
	}
	// .portfolio__wrapper
	&__wrapper {
		flex: 1 1 auto;
		position: relative;
		@media (max-width: point.$tablet) {
			top: -20px;
		}
		@media (min-width: point.$tablet) {
			min-height: 100vh;
			display: flex;
			align-items: center;
		}
	}
	// .portfolio__content
	&__content {
		text-align: center;
		flex: 0 0 30%;
		@include mix.adaptiveValue("padding-right", 25, 10);
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0%;
			height: 90vh;
			background-color: #eeeeee;
			width: 100vw;
			transform: translate(0, -50%);
		}
		&::before {
			z-index: 3;
		}
		&::after {
			// z-index: 1;
			right: -30%;
			border-radius: 0 mix.rem(20) mix.rem(20) 0;
		}
		@media (min-width: point.$tablet) {
			position: relative;
		}
		@media (max-width: point.$tablet) {
			&::before,
			&::after {
				display: none;
			}
		}
	}
	// .portfolio__title
	&__title {
		position: relative;
		z-index: 3;
		&::before {
		}
	}
	// .portfolio__buttons
	&__buttons {
		z-index: 3;
		position: relative;
		display: flex;
		gap: mix.rem(5);
		justify-content: center;
		@media (max-width: point.$tablet) {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 25%);
		}
	}
	// .portfolio__button
	&__button {
	}
	// .portfolio__button-gift
	&__button-gift {
		&::before {
			content: "";
			background: url("@img/icons/gift.svg") 0 / cover no-repeat;
		}
	}
	// .portfolio__slider
	&__slider {
		@media (min-width: point.$tablet) {
			min-width: 0;
			flex: 1 1 70%;
			transition: left 0.8s ease 0s;
			@include mix.adaptiveValue("left", 375, 100);
		}
	}
	// .portfolio__slider
	&__slider.swiper {
		overflow: visible;
	}
	// .portfolio__navigation
	&__navigation {
		position: absolute;
		bottom: 15%;
		right: 0;
		z-index: 2;
		& > :not(:last-child) {
			margin-right: mix.rem(15);
		}
		@media (max-width: point.$pc) {
			bottom: 5%;
			display: none;
		}
		@media (min-width: point.$tablet) {
		}
	}
	// .portfolio__slide
	&__slide {
		// width: auto;
		width: 100%;
		height: 60vh;
		display: flex;
		align-items: center;
		@media (min-width: point.$tablet) {
			height: 73vh;
			width: 37%;
		}
	}
	// .portfolio__image-ibg
	&__image-ibg {
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: mix.rem(8);
		@media (min-width: point.$tablet) {
			border: mix.rem(2) solid var.$white;
			height: 66%;
			width: 100%;
			flex: 1 1 auto;
			left: 0;
			transition:
				width 0.8s ease 0s,
				height 0.8s ease 0s,
				left 0.8s ease 0s;
		}
	}
}
.title-line {
}
.title {
	// .title__title
	&__title {
	}
	// .title__text
	&__text {
	}
}
.swiper {
}
.swiper-wrapper {
	justify-content: flex-start;
}
.swiper-slide {
}
.swiper-slide-active .portfolio__image-ibg {
	width: 100%;
	height: 100%;
	border-radius: mix.rem(14);
	@media (min-width: point.$tablet) {
		position: absolute;
		width: 42vw;
		height: 100%;
		border-width: mix.rem(1);
		@include mix.adaptiveValue("left", -375, -100);
	}
}
.swiper-slide-next .portfolio__image-ibg {
}
.swiper-slide-active {
}
.swiper-slide-prev {
}
