@use "./variables" as var;
@use "./modules/mixins" as mix;
@use "./modules/brake-points" as point;
@use "sass:math"; //модуль Math

// Заголовки, общие БЄМ блоки и проче...

//<GLOBAL Animations>=================================

//</GLOBAL Animations>=================================

//<Стили для текста>=================================
%text-g {
	font-family: "Gilroy";
}
%text-g_16_18_600 {
	@extend %text-g;
	font-weight: 600;
	line-height: math.div(18, 16);
	color: var.$mainTextCol;
	@include mix.adaptiveValue("font-size", 16, 14);
}
%text-g_14_20_400 {
	@extend %text-g;
	font-weight: 400;
	line-height: math.div(20, 14);
	color: var.$mainTextCol;
	font-size: mix.rem(14);
}

%text-g_16_20_700 {
	@extend %text-g;
	font-weight: 700;
	line-height: math.div(20, 16);
	color: var.$white;
	@include mix.adaptiveValue("font-size", 16, 15);
}

%text-g_14_20_600 {
	@extend %text-g_14_20_400;
	font-weight: 600;
	color: var.$white;
}
%text-i_14_500 {
	font-weight: 500;
	color: var.$white;
	line-height: 100%;
	font-size: mix.rem(14);
}
%text-i_14_18_400 {
	font-weight: 400;
	color: var.$white;
	line-height: 1.28;
	@include mix.adaptiveValue("font-size", 14, 12);
}
%text-i_22_24_500 {
	font-weight: 500;
	color: var.$mainTextCol;
	line-height: math.div(24, 22);
	font-size: mix.rem(22);
}
%text-i_14_22_400 {
	font-weight: 400;
	color: var.$mainTextCol;
	line-height: math.div(22, 14);
	@include mix.adaptiveValue("font-size", 14, 12);
}
%text-i_16_22_400 {
	font-weight: 400;
	color: var.$mainTextCol;
	line-height: math.div(22, 16);
	@include mix.adaptiveValue("font-size", 16, 14);
}

%text-i_14_300 {
	font-weight: 300;
	color: #323232;
	line-height: 100%;
	font-size: mix.rem(14);
}

%text-l_14_500 {
	font-family: Lato;
	font-weight: 500;
	color: #82817e;
	line-height: 100%;
	font-size: mix.rem(14);
}
%text-l_18_20_600 {
	font-family: Lato;
	font-weight: 600;
	color: var.$mainTextCol;
	line-height: math.div(20, 18);
	@include mix.adaptiveValue("font-size", 18, 14);
}
%text-l_18_500 {
	font-family: Lato;
	font-weight: 500;
	color: var.$mainTextCol;
	line-height: 1;
	@include mix.adaptiveValue("font-size", 18, 14);
}
%text-l_20_28_400 {
	font-weight: 400;
	font-family: Lato;
	line-height: math.div(20, 28);
	color: var.$darkCol;
	letter-spacing: mix.rem(0.4);
	@include mix.adaptiveValue("font-size", 20, 14);
}

%text-l_40_48_500 {
	font-family: Lato;
	line-height: math.div(48, 40);
	text-transform: uppercase;
	color: var.$white;
	@include mix.adaptiveValue("font-size", 40, 26);
}
%text-l_48_54_600 {
	font-family: Lato;
	line-height: math.div(54, 48);
	text-transform: uppercase;
	color: var.$darkCol;
	@include mix.adaptiveValue("font-size", 48, 24);
}

//<Стили для текста>=================================
.title {
	text-align: center;
	&::before {
		content: "";
		width: mix.rem(29);
		height: mix.rem(3);
		background-color: var.$green;
		margin-bottom: mix.rem(17);
	}
	// .title__title
	&__title {
		@extend %text-l_48_54_600;
		@include mix.adaptiveValue("font-size", 48, 32);
	}
	// .title__text
	&__text {
		color: #4c4b47;
		font-weight: 400;
		line-height: math.div(18, 16);
		@include mix.adaptiveValue("font-size", 16, 14);
		span {
			font-weight: 700;
		}
		a {
			color: var.$blue;
		}
	}
}

.info {
	@media (min-width: point.$tablet) {
		// flex: 0 1 100%;
		// flex-wrap: nowrap;
	}
	// .info__item
	&__item {
		display: flex;

		align-items: center;
		flex: 0 0 33.333%;
		@extend %text-i_14_500;
		// min-width: 200px;
		flex: 0 0 50%;
		@include mix.adaptiveValue("column-gap", 12, 5);
		@media (max-width: 1250px) {
		}
		@media (max-width: point.$tablet) {
			flex: 0 1 100%;
		}
	}

	// .info__icon
	&__icon {
		flex: 0 0 mix.rem(40);
		height: mix.rem(40);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: "";
			position: absolute;
			top: 0%;
			right: 0%;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: var.$green;
		}
		img {
			z-index: 2;
		}
	}
	// .info__body
	&__body {
		display: flex;
		flex-direction: column;
		// .info__body-main
		&-main {
			color: var.$mainTextCol;
		}
	}
	// .info__label
	&__label {
		@media (max-width: point.$mobile) {
			opacity: 0.5;
		}
	}
	// .info__sublabel
	&__sublabel {
	}
	// .info__tel
	&__tel {
	}
	// .info__mail
	&__mail {
	}
	&__mail,
	&__tel {
		white-space: nowrap;
	}
	&__tel,
	&__mail,
	&__label,
	&__sublabel {
		@include mix.adaptiveValue("padding-top", 5, 2.5);
		@include mix.adaptiveValue("padding-bottom", 5, 2.5);
	}
}
//<Стили для кнопок>=================================

//<Стили для кнопок>=================================
