@use "./variables" as var;
@use "./modules/mixins" as mix;
@use "./common";
@use "./modules/brake-points" as point;

//<FOOTER>=================================
.footer {
	position: relative;
	background-color: #333;
	color: var.$white;
	@include mix.adaptiveValue("padding-top", 60, 20);
	@include mix.adaptiveValue("padding-bottom", 35, 15);
	// .footer__container
	&__container {
	}
	// .footer__top
	&__top {
	}
	// .footer__bottom
	&__bottom {
	}
}
.footer-top {
	@include mix.adaptiveValue("column-gap", 75, 50);
	@include mix.adaptiveValue("margin-bottom", 80, 63);
	@media (min-width: point.$mobileBig) {
		display: flex;
		align-items: center;
	}
	// .footer-top__left
	&__left {
		flex: 0 0 20%;
		align-self: flex-start;
		@media (max-width: point.$mobileBig) {
			@include mix.adaptiveValue("margin-bottom", 40, 30);
		}
	}
	// .footer-top__logo
	&__logo {
	}
	// .footer-top__right
	&__right {
		flex: 1 1 auto;
	}
}
.footer-logo {
	// .footer-logo__icon
	&__icon {
		// padding-bottom: 17%;
		margin-bottom: mix.rem(12);
	}
	// .footer-logo__img
	&__img {
	}
	// .footer-logo__text
	&__text {
		@extend %text-i_14_500;
		opacity: 0.8;
		@include mix.adaptiveValue("font-size", 12, 10);
	}
}
.footer-right {
	// .footer-right__menu
	&__menu {
		@include mix.adaptiveValue("margin-bottom", 34, 20);
	}
	// .footer-right__info
	&__info {
		display: flex;
		justify-content: space-between;
		@media (max-width: point.$mobileBig) {
			// flex-wrap: wrap;
		}
		@media (max-width: 1250px) {
			flex-wrap: wrap;
			row-gap: mix.rem(30);
			// @include mix.adaptiveValue("row-gap", 30, 30);
		}
	}
	// .footer-right__item
	&__item {
	}
}
.footer-menu {
	// .footer-menu__body
	&__body {
	}
	// .footer-menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: mix.rem(-7);
		@media (max-width: point.$mobileBig) {
		}
	}
	// .footer-menu__item
	&__item {
		@media (max-width: point.$pc) {
			flex: 0 1 50%;
		}
	}
	// .footer-menu__link
	&__link {
		padding: mix.rem(7);
		// @include mix.adaptiveValue("padding", 7, 5);
		@extend %text-i_14_500;
	}
}

.footer-bottom {
	// .footer-bottom__copyright
	&__copyright {
		text-align: center;
		@extend %text-g_14_20_600;
	}
}

//</FOOTER>=================================
