@use "./modules/brake-points" as point;
@use "./variables" as var;
@use "./modules/mixins" as mix;
@use "./common";
// @use "./base/btn";
@use "sass:math";

//<HEADER>=================================
.header {
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
	}
	// .header__icon
	&__icon {
	}
}

.header-body {
	// .header-body__top
	&__top {
	}
	// .header-body__bottom
	&__bottom {
	}
	& .header__container:first-child {
		box-shadow: 0 4px 22.5px 0 rgba(169, 165, 165, 0.1);
	}
	& .header__container:last-child {
		background-color: var.$green;
		@media (max-width: point.$tablet) {
			display: none;
		}
	}
}
.header-top {
	display: flex;
	align-items: center;
	// .header-top__box
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1 1 auto;
		@include mix.adaptiveValue("min-height", 86, 40);
	}
	// .header-top__logo
	&__logo {
	}
	// .header-top__info
	&__info {
	}
	& > * {
	}
}
@media (max-width: point.$tablet) {
	.header-top {
		& > * {
			@include mix.adaptiveValue("padding-top", 5, 15);
			@include mix.adaptiveValue("padding-bottom", 5, 15);
		}
	}
}
@media (min-width: point.$tablet) {
	.header-top {
		& > * {
			@include mix.adaptiveValue("padding-top", 10, 5);
			@include mix.adaptiveValue("padding-bottom", 10, 5);
		}
	}
}
@media (min-width: point.$pc) {
	// .header-top__info
	.header-top__info {
		flex: 0 0 50%;
	}
}
@media (max-width: point.$tablet) {
	.header-top {
		@include mix.adaptiveValue("column-gap", 26, 6);
	}
}
.logo {
	// .logo__icon
	&__icon {
		padding-bottom: 17%;
		@include mix.adaptiveValue("width", 260, 175);
	}
	//
	&__text {
		align-content: center;
		@extend %text-g_16_18_600;
		@include mix.adaptiveValue("font-size", 16, 10);
	}
}
@media (max-width: point.$mobileBig) {
	.logo {
		&__text {
			font-weight: 500;
			br {
				display: none;
			}
		}
	}
}
@media (min-width: point.$mobileBig) {
	.logo {
		display: flex;
		justify-content: start;
		@include mix.adaptiveValue("gap", 16, 3);
		&__text {
		}
	}
}

.icon-logo {
	// .icon-logo__img
	&__img {
	}
}
.info-top {
	display: flex;
	justify-content: center;
	align-items: center;
	@include mix.adaptiveValue("column-gap", 26, 6);
	// .info-top__column
	&__column {
		justify-items: center;
		flex: 1 1 33.333%;
	}
}
@media (max-width: point.$pc) {
	.info-top__column {
		justify-items: end;
	}
}
.column-info {
	& > :not(:last-child) {
		margin-bottom: mix.rem(3);
	}
	// .column-info__text
	&__text {
		@extend %text-g_14_20_400;
		span {
			@extend %text-g_14_20_400;
			font-weight: 600;
			line-height: 100%;
		}
	}
	// .column-info__tel
	&__tel {
		@extend %text-g_16_18_600;
		display: block;
	}
	// .column-info__button
	&__button {
		span {
		}
	}
	// .column-info__shedule
	&__schedule {
	}
	// .column-info__telephone
	&__telephone {
	}
	// .column-info__checkout
	&__checkout {
	}
	// .column-info__callback
	&__callack {
	}
}
@media (max-width: point.$pc) {
	.column-info {
		// .column-info__text
		&__text {
			display: none;
		}
		// .column-info__shedule
		&__schedule {
			display: none;
		}
		// .column-info__telephone
		&__telephone {
			display: none;
		}
		// .column-info__checkout
		&__checkout {
			display: block;
		}
		// .column-info__callback
		&__callack {
		}
		// .column-info__button
		&__button {
		}
	}
}
@media (max-width: point.$tablet) {
	.column-info {
		// .column-info__text
		&__text {
			// display: none;
		}
		// .column-info__button
		&__button {
			span {
				display: none;
			}
		}
		// .column-info__checkout
		&__checkout {
		}
	}
}
@media (min-width: point.$pc) {
	// .column-info__checkout
	.column-info__checkout {
		display: none;
	}
}
.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 52px;
	// .header-bottom__left
	&__left {
	}
	// .header-bottom__right
	&__right {
	}
}
.bottom-right {
	display: flex;
	align-items: center;
	gap: mix.rem(10);
	// .bottom-right__leng
	&__leng {
		@extend %text-g_16_18_600;
		color: var.$white;
	}
	// .bottom-right__checkout
	&__checkout {
	}
}
