@use "./modules/brake-points" as point;
@use "./variables" as var;
@use "./modules/mixins" as mix;
@use "./common";
@use "./base/btn";
@use "sass:math";

//<HEADER>=================================
.header {
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
	}
	// .header__icon
	&__icon {
	}
}

.header-body {
	// .header-body__top
	&__top {
	}
	// .header-body__bottom
	&__bottom {
	}
	& .header__container:last-child {
		background-color: var.$green;
	}
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mix.adaptiveValue("min-height", 86, 60);
	// .header-top__logo
	&__logo {
		flex: 0 1 470px;
	}
	// .header-top__info
	&__info {
		flex: 0 0 50%;
		// justify-self:;
	}
	& > * {
		@include mix.adaptiveValue("padding-top", 10, 5);
		@include mix.adaptiveValue("padding-bottom", 10, 5);
	}

	.logo {
		display: flex;
		@include mix.adaptiveValue("gap", 16, 3);
		// .logo__icon
		&__icon {
			// @include mix.adaptiveValue("flex-basis", , );
			// flex: 0 1 80%;
			@include mix.adaptiveValue("width", 260, 170);
		}
		// .logo__text
		&__text {
			// flex: 0 1 auto;

			@extend %text_16_18;
			@include mix.adaptiveValue("font-size", 16, 12);
		}
	}

	.icon-logo {
		// .icon-logo__img
		&__img {
		}
	}
	.info-top {
		display: flex;
		justify-content: center;
		align-items: center;
		@include mix.adaptiveValue("column-gap", 26, 6, 0, 1670, 1350);
		// .info-top__column
		&__column {
			justify-items: center;
			flex: 1 1 33.333%;
		}
	}
}
@media (max-width: point.$tablet) {
	.info-top {
		display: none;
	}
}
.column-info {
	// .column-info__text
	& > :not(:last-child) {
		margin-bottom: mix.rem(3);
	}
	&__text {
		@extend %text_14_20;
		span {
			@extend %text_14_20;
			font-weight: 600;
			line-height: 100%;
		}
	}
	// .column-info__tel
	&__tel {
		@extend %text_16_18;
		display: block;
	}
	// .column-info__button
	&__button {
	}
}
.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 52px;
	// .header-bottom__left
	&__left {
	}
	// .header-bottom__right
	&__right {
	}
}
.bottom-right {
	display: flex;
	align-items: center;
	gap: mix.rem(10);
	// .bottom-right__leng
	&__leng {
		@extend %text_16_18;
		color: var.$white;
	}
	// .bottom-right__checkout
	&__checkout {
	}
}
