// <IMPORT>=================================
@use "sass:math"; //модуль Math

// <VARIABLES>=================================
@use "./variables" as var;
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// </VARIABLES>=================================

//<MIXINS>=================================
@use "sass:meta";
@use "modules/mixins" as mix;
//</MIXINS>=================================

// <ШРИФТ>=================================
//&display=swap - добавить при подключении через плагин
@use "fonts/fonts"; // Подключить если есть локальные файлы шрифтов
@import url(https://fonts.googleapis.com/css?family=Lato:400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800,900&display=swap);
// @import "fonts/icons"; // Подключить если есть файл иконочного шрифта
@include meta.load-css("./modules/main-fonts");
// </ШРИФТ>=================================

// <ОБНУЛЕНИЕ>=================================
@include meta.load-css("./modules/null");
// <>=================================

// <BODY>=================================
body {
	background: var.$mainBgCol;
	color: var.$mainCol;
	// @include adaptiveValue("font-size", 25, 18);
	font-weight: 500;
	line-height: 187.5%;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
		transition: opacity 0.8s ease 0s;
		opacity: 1;
	}
}
// </BODY>=================================

// <WRAPPER>=================================
.wrapper {
	// width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// </WRAPPER>=================================

// <CONTAINER>=================================
// (i) Стили будут применяться ко
// всем классам содержащим *__container
// Например header__container, main__container и т.д.
// Снипет (HTML): cnt

@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if (var.$maxWidthContainer>0) {
			max-width: mix.rem(var.$containerWidth);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if (var.$containerPadding>0) {
			@if (var.$maxWidthContainer>0) {
				padding: 0 mix.rem(math.div(var.$containerPadding, 2));
			} @else {
				@include mix.adaptiveValue("padding-left", math.div(var.$containerPadding, 2), var.$containerPaddingMin);
				@include mix.adaptiveValue("padding-right", math.div(var.$containerPadding, 2), var.$containerPaddingMin);
			}
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if (var.$maxWidthContainer>0) {
			max-width: mix.rem(var.$maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if (var.$containerPadding>0) {
				padding: 0 mix.rem(math.div(var.$containerPadding, 2));
			}
		}
		@media (max-width: var.$pc) {
			max-width: mix.rem(970);
		}
		@media (max-width: var.$tablet) {
			max-width: mix.rem(750);
		}
		@media (max-width: var.$mobileBig) {
			max-width: none;
			@if (var.$containerPadding>0 and var.$maxWidthContainer>0) {
				padding: 0 mix.rem(math.div(var.$containerPadding, 2));
			}
		}
	}
}
// </CONTAINER>=================================

// <IMPORT>=================================
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/отключения конкретных стилей base.scss
@include meta.load-css("modules/base");
// Подключение стилей общих элементов проекта
// Подключение стилей отдельных блоков
@include meta.load-css("header");

// Подключение стилей отдельных страниц
// @use "home";
// </IMPORT>=================================

// <ОБЩИЙ СТИЛЬ>=================================

//</ОБЩИЕ СТИЛИ>=================================

//<MAIN>=================================

//</MAIN>=================================
