@use "./base/mixins" as mix;

//<АДАПТИВНАЯ СЕТКА>=================================
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1680; // Ширина полотна (макета)
$maxWidthContainer: 1178; // Ширина ограничивающего контейнера (0 = нет ограничения)

// Общий отступ у контейнера
$containerPadding: 94; // (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingMin: 20; // минимальный отступ

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
//<>=================================

//<БРЕЙК ПОИНТЫ>=================================
$pc: mix.em(1440); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: mix.em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobileBig: mix.em(767.98); // Телефоны L
$mobile: mix.em(639.98); // Телефоны L
$mobileSmall: mix.em(479.98); // Телефоны S
//<>=================================

//<ШРИФТЫ>=================================
$fontFamily: "Inter";
$fontSize: mix.rem(14); // где 14(px) - размер шрифта по умолчанию из макета
//<>=================================

//<ЦВЕТА>=================================
$white: #ffffff;
$blue: #4bbeee;
$green: #92b621;
$mainCol: #5e6282;
$mainTextCol: #4c4b47;
$lightGrayCol: #9a9ea6;
$lightBlueCol: #23a6f0;
$darkCol: #171717;
$hoverCol: #4737ff;
$mainBgCol: #fafafa; //приглушить цвет для комфорта глаз
//<ЦВЕТА>=================================
