@use "sass:math"; //модуль Math
@use "../../../../../scss/variables" as var;
@use "../../../../../scss/modules/mixins" as mix;
@use "../../../../../scss/modules/brake-points" as point;
@use "../../../../../scss/common";

.page {
	// .page__main
	&__main {
	}
}
.main {
	// .main__image
	&__image {
	}
	// .main__content
	&__content {
	}
}
.bg {
	position: relative;
	// min-height: 100vh;
	padding-bottom: 46%;
	// min-height: mix.rem(750);
	// .bg__cloudes
	&__cloudes {
	}
	// .bg__mountains
	&__mountains {
	}
	// .bg__brend
	&__brend {
	}
	// .bg__forest
	&__forest {
	}
}
.content {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	// height: 100%;

	margin-bottom: mix.rem(40);
	// .content__subtitle
	&__subtitle {
	}
	// .content__slider
	&__slider {
	}
}
.slider {
	// .slider__slides
	&__slides {
	}
	// .slider__slide
	&__slide {
	}
}
.slide {
	display: flex;
	justify-content: flex-end;
	// .slide__item
	&__item {
	}
}
.item-slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var.$white;
	border-radius: mix.rem(8);
	// display: inline-block;
	// padding: mix.rem(20);
	// padding-bottom: 10%;
	position: relative;
	@include mix.adaptiveValue("min-height", 284, 215);
	@include mix.adaptiveValue("padding-bottom", 20, 14);
	@include mix.adaptiveValue("padding-top", 20, 14);
	@include mix.adaptiveValue("padding-left", 20, 14);
	@include mix.adaptiveValue("padding-right", 20, 14);
	@include mix.adaptiveValue("max-width", 389, 327);
	// .item__info
	&__info {
		position: relative;
		z-index: 2;
	}
	// .item__image
	&__image {
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: contain;
			// padding-bottom: 60%;
			margin-top: mix.rem(-15);
		}
	}
	// .item__name
	&__name {
		position: relative;
		z-index: 2;
		@extend %text-l_18_20_600;
		text-transform: uppercase;
	}
}
.info-item-slide {
	// position: absolute;
	// width: 100%;
	// top: 0;
	// left: 0;
	display: flex;
	justify-content: space-between;
	// .info-item__kod
	&__kod {
		@extend %text-i_14_300;
	}
	// .info-item__more
	&__more {
		@extend %text-l_14_500;
	}
}
