@use "sass:math"; //модуль Math
@use "../../../../../scss/variables" as var;
@use "../../../../../scss/modules/mixins" as mix;
@use "../../../../../scss/modules/brake-points" as point;
@use "../../../../../scss/common";

.page {
	// .page__main
	&__main {
	}
}
.main {
	min-height: 100vh;
	// .main__image
	&__image {
	}
	// .main__content
	&__content {
		padding-bottom: 20px;
	}
}
.bg {
	min-height: 100vh;
	position: relative;
	// .bg__image
	&__image-ibg {
	}
	// .bg__cloudes
	&__cloudes {
	}
	// .bg__mountains
	&__mountains {
	}
	// .bg__brend
	&__brend {
	}
	// .bg__forest
	&__forest {
	}
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	// .content__subtitle
	&__subtitle {
		align-self: flex-start;
		@extend %text-i_22_24_500;
		background-color: var.$white;
		display: inline-block;
		border-radius: mix.rem(8);
		box-shadow: 0 4px 30.4px 0 rgba(169, 165, 165, 0.25);
		margin: 0 0 mix.rem(5) 0;
		@include mix.adaptiveValue("margin-bottom", 5, 165);
		@include mix.adaptiveValue("padding", 15, 5);
		span {
			font-weight: 700;
		}
		// .content__box
	}
	&__box {
		display: flex;
		align-items: start;
	}
	// .content__slider-box
	&__slider-box {
		flex: 1 1 auto;
	}
	// .content__slider
	&__slider {
		position: relative;
		// @include mix.adaptiveValue("margin-bottom", 5, 165);
		// @include mix.adaptiveValue("padding", 15, 5);
		@include mix.adaptiveValue("max-width", 389, 278);
		@include mix.adaptiveValue("min-height", 284, 215);
		@media (min-width: point.$mobileSmall) {
			// align-self: flex-end;
		}
	}
	&__slider.slider.swiper {
		overflow: initial;
	}
}
.slider {
	transform: translateY(-50px);
	// .slider__slide
	&__slide {
	}
}

.swiper-wrapper {
}
.slide {
	background-color: var.$white;
	border-radius: mix.rem(8);
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	// @include mix.adaptiveValue("max-width", 389, 278);
	// @include mix.adaptiveValue("min-height", 284, 215);
	@include mix.adaptiveValue("padding-bottom", 20, 14);
	@include mix.adaptiveValue("padding-top", 20, 14);
	@include mix.adaptiveValue("padding-left", 20, 14);
	@include mix.adaptiveValue("padding-right", 20, 14);
	@media (max-width: point.$mobileSmall) {
		min-width: 100%;
	}
	// .slide__info
	&__info {
	}
	// .slide__image
	&__image-ibg_contain {
		padding-bottom: 48%;
		img {
		}
	}
	// .slide__name
	&__name {
		position: relative;
		z-index: 2;
		@extend %text-l_18_20_600;
		text-transform: uppercase;
	}
}
.slide.swiper-slide.swiper-slide-prev,
.slide.swiper-slide.swiper-slide-prev {
}
.slide.swiper-slide.swiper-slide-active {
	transform: translateY(25%);
	opacity: 1;
}
.info-slide {
	display: flex;
	justify-content: space-between;
	// .info-slide__kod
	&__kod {
		@extend %text-i_14_300;
	}
	// .info-slide__more
	&__more {
		@extend %text-l_14_500;
	}
}
